html {
  background: -moz-Dialog;
}

body {
  margin: 0;
  padding: 0 1em;
  color: -moz-FieldText;
  font: message-box;
}

h1 {
  margin: 0 0 .6em 0;
  border-bottom: 1px solid ThreeDLightShadow;
  font-size: 160%;
}

#infoContainer {
  position: relative;
  min-width: 13em;
  max-width: 52em;
  margin: 4em auto;
  border: 1px solid ThreeDShadow;
  -moz-border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  -moz-background-origin: content;
}

#title {
  -moz-margin-start: 80px;
}

#longContent {
  -moz-margin-start: 80px;
}

#shortDesc{
    overflow: auto;
    border-bottom: 1px solid ThreeDLightShadow;
    padding-bottom: 1em;
    font-size: 120%;
}

a:hover { color: #cc3; text-decoration: none; }