<style type="text/css">
body {
    background-color: #22201d;
    font-family: Tahoma, Arial, sans-serif;
    font-size:12px;
    color: #999;
}

#main{
    margin: 150px auto; display: block; width: 264px;
}

.header{
    float:left;
    margin-bottom:20px;
    width:264px;
    text-align:center;
}

#line{
    float:left;
    width:264px;
}

#topline{
    float:left;
    width:250px;
    border-top:2px solid 363430#;
    background-color:#363430;
    overflow:hidden;
    height:5px;
}

#corner{
    float:left;
    width:7px;
    height:7px;
    overflow:hidden;
}

#pass {
    float:left;
    width:80px;
    margin:11px 10px 0 0;
    text-align:right;
}

#centralbox{
    float:left;
    width:254px;
    padding-top:10px;
    border-left:5px solid #363430;
    border-right:5px solid #363430;
    background-color:#d8d7d3;
}

#labeluser{
    float:left;
    width:80px;
    margin:9px 10px 0 0;
    text-align:right;
}

#entryuser{
    float:left;
    width:160px;
    margin-top:5px;
    text-align:left;
}

#entrypass{
    float:left;
    width:160px;
    margin-top:8px;
    text-align:left;
}

#button{
    padding-left:183px;
    float:left;
    width:160px;
    text-align:left;
    margin-top:10px;
}

.button{
    background-color:22201d
    color:#bd934f;
    border-top:solid 1px #fff;
    border-right:solid 1px #363430;
    border-bottom:solid 1px #363430;
    border-left:solid 1px #fff;
    font-size: 13px;
    vertical-align:text-bottom;
}

a.gray {
    font-weight:bold;
    color:#bd934f;
    text-decoration:none;
}

a.gray:hover {
    color:#fff;
    text-decoration:none;
}

.error{
    float:left;
    clear:left;
    font-size: 11px;
    color:#555;
    width:150px;
    text-align:center;
    padding:3px 0 3px 0;
    background: #ffffcc;
    border:1px solid #ffcc33;
}

.form{
    border:1px solid #ccc;
}

.form,.form-selected{
    padding-left:2px;
    width:148px;
    color:#2e4a7a;
    height:15px;
}

.form-selected{
    border: 1px solid #3D598B;
}

#footer {
    color:#000;
    display:block;
    width:100%;
    position: absolute;
    bottom:10px;
    left:0px;
    text-align: center;
}

</style>
