/*  -----|  Globals  |------------------------------------------------------  */

/* body { */
/*     font-size: 62.5%; /\* Resets 1em to 10px *\/ */
/*     font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; */
/*     background-color: #AAAAAA; */
/*     color: #333; */
/*     text-align: center; */
/*     margin: 0; */
/*     padding: 0; */
/* } */


/* .hr { */
/*     background-color: #22201d; */
/*     border: 1px solid #363430; */
/*     height: 10px; */
/*     margin: 10px 0; */
/*     width: 758px; */
/* } */

/* a:link, a:visited, a:active { color: #d8d7d3; text-decoration: none; } */
/* a:hover { color: #fff; text-decoration: none; } */

/* a img { border: 0; } */

/* ul { list-style: none; } */

/* input, textarea { */
/*     color: 7099cc; */
/*     font-size: 11px; */
/*     text-decoration: none; */
/*     background-color: #161410; */
/*     border: 1px solid #363430; */
/*     padding: 4px; */
/* } */

/* blockquote { */
/*     background: #1b1814; */
/*     padding: 1px 15px 5px; */
/*     border-bottom: 1px solid #35302a; */
/* } */

/* table { width: 100%; border-collapse: collapse; } /\* By default is collapse *\/ */
/* th { border-bottom: 1px solid #000000; border-top: 1px solid #000; text-align: center; } */
/* th { color: #bd934f; margin: 15px 0 5px; font-variant: small-caps; font-size: 12px; } */
/* /\* tr{ display: block; padding: 4px 10px; background: #22201d;  margin: 1px 0;} *\/ */
/* tr.main {margin: 1px 0; background: #22201d;} */
/* /\* th {#35302a; text-align: center; } *\/ */


pre {
    padding: 5px 0;
    border-top: 1px dotted #35302a;
    border-bottom: 1px dotted #35302a;
}



/*  -----|  Structure  |----------------------------------------------------  */

#superpage{
/*     max-width: 1600px; */
    width: 1650px;
/*     margin: 50px auto 25px; */
    position: relative;
    margin: 2% 2% auto auto;
/*     margin-left: 1%; */
/*     margin-right: auto; */
    padding: 0;

}

/* #page { */
/*     margin: 50px auto 25px; */
/*     padding: 0; */
/*     width: 760px; */
/* } */

#header {
    text-align: center;
}

/* #wrapper, #headerimg { width: 760px; position: relative; } */

#wrapper{ width: 760px; position: relative; }

#errorimg {
    width: 320px;
    position:relative;
    margin: 50px auto 25px;
}

.error {
    padding: 10px;
    color: #CC3300;
    font-size: 32px;
}

#candidateimg { width: 39px; height: 35px; position: relative;}

/* #foot { */
/*     font-family: Georgia, 'Times New Roman', serif; */
/*     color: #999; */
/* } */

/* #content, #sidebar { */
/*     border-left: 1px solid #363430; */
/*     border-right: 1px solid #363430; */
/*     padding: 0 10px; */
/*     overflow: hidden; */
/* /\*     margin: auto; *\/ */
/* } */

/* #sidebar { */
/*     border-left: 1px solid #363430; */
/*     border-right: 1px solid #363430; */
/*     padding: 0 10px; */
/*     overflow: hidden; */
/* /\*     margin: auto; *\/ */
/* } */

/* #content { float: left; font-size: 1.1em; width: 517px; } */
/* #content h2 { margin: 0 0 10px; } */
/* #content p { line-height: 1.5em; } */

/* #sidebar { border-left: 0; float: right; width: 200px; } */
/* #sidebar h3 { color: #bd934f; margin: 15px 0 5px; font-variant: small-caps; font-size: 12px; } */
/* #sidebar h3 a { color: #bd934f; } */
/* #sidebar ul { margin: 0 0 10px; padding: 0; border-top: 1px solid #363430; border-bottom: 1px solid #363430; } */
/* #sidebar li { display: block; padding: 4px 10px; background: #22201d;  margin: 1px 0;} */
/* #sidebar li:hover { background: #363430; } */

#searchform { background: #22201d; padding: 10px; text-align: center; }
#s { width: 160px; }
#submit { margin-top: 5px;}

/* Post Structure */

/* .post { padding: 10px 0 0; } */
/* .post { padding: 0; margin: 0; } */

/* .top { padding: 15px 10px 0px; background: #1b1814; margin-bottom: 15px; border-bottom: 1px solid #35302a; } */
/* .lastfive { padding-left: 10px; padding-right: 10px; } */
.postmetadata { margin: 3px 0; padding: 0; }
.postmetadata a { font-weight: bold; }
/* #sidebar .postmetadata { line-height: 1.5em; } */

/* .top .entry { font-size: 1.1em; } */
/* .entry { font-size: 1.1em; } */
/* .entrytext { padding: 0 10px 0; line-height: 2em; font-size: 1.1em; } */

/* .entrytext h2 { border-bottom: 1px solid #bd934f; display: block; } */
/* .entry ul, .entrytext ul { list-style-type: square; } */

/*  -----|  Typography  |---------------------------------------------------  */

/* h1, h2, h3, h4, h5, h6 { */
/*     font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif; */
/*     font-weight: bold; */
/* } */

/* h1 { text-transform: lowercase; color: #fff; font-size: 2em; margin: 0 0 8px; } */
/* h1:before, h1:after { content: " . . "; color: #444; } */
/* h1 span.main { color: #bd934f; } */

/* h2 { color: #bd934f; font-size: 1.25em; line-height: 1.15em; margin: 0; padding: 1px 0; display: inline; border-bottom: 1px solid #35302a; } */
/* .post h2 a { color: #bd934f; } */
/* .post h2.first { font-size: 1.75em; } */

/* h2.title { */
/*     display: block; */
/*     padding: 13px 10px; */
/*     background: #1b1814; */
/*     margin: 0 0 15px; */
/*     border-bottom: 1px solid #35302a; */
/*     font-size: 1.75em; } */

/* .description { color: #666; font-weight: bold; } */

/* h3 { margin: 0 0 10px 0; color: #bd934f; } */



/*  -----|  Miscellaneous  |------------------------------------------------  */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* #sidebar { background-color: #161410; margin: 0; padding: 0; list-style: none;  } */
.navigation {
	margin-top: 10px;
	padding: 10px;
	border-top: 1px solid #35302a;
	}
.navigation .left { float: left; }
.navigation .right { float: right; }


.submit-row {
padding-top: 5px;
padding-right: 7px;
padding-bottom: 5px;
padding-left: 7px;
text-align: right;
background-color: white;
background-image: url(../img/admin/nav-bg.gif);
background-repeat: repeat-x;
background-attachment: scroll;
background-position: 0pt 100%;
border-top-width: 1px;
border-right-width-value: 1px;
border-right-width-ltr-source: physical;
border-right-width-rtl-source: physical;
border-bottom-width: 1px;
border-left-width-value: 1px;
border-left-width-ltr-source: physical;
border-left-width-rtl-source: physical;
border-top-style: solid;
border-right-style-value: solid;
border-right-style-ltr-source: physical;
border-right-style-rtl-source: physical;
border-bottom-style: solid;
border-left-style-value: solid;
border-left-style-ltr-source: physical;
border-left-style-rtl-source: physical;
border-top-color: #cccccc;
border-right-color-value: #cccccc;
border-right-color-ltr-source: physical;
border-right-color-rtl-source: physical;
border-bottom-color: #cccccc;
border-left-color-value: #cccccc;
border-left-color-ltr-source: physical;
border-left-color-rtl-source: physical;
margin-top: 5px;
margin-right: 0pt;
margin-bottom: 5px;
margin-left: 0pt;
overflow-x: hidden;
overflow-y: hidden;
}


.button, input[type="submit"], input[type="button"], .submit-row input{
background-repeat: repeat-x;
background-attachment: scroll;
background-position: center bottom;
padding-top: 3px;
padding-right: 3px;
padding-bottom: 3px;
padding-left: 3px;
color: black;
border-top-width: 1px;
border-right-width-value: 1px;
border-right-width-ltr-source: physical;
border-right-width-rtl-source: physical;
border-bottom-width: 1px;
border-left-width-value: 1px;
border-left-width-ltr-source: physical;
border-left-width-rtl-source: physical;
border-top-style: solid;
border-right-style-value: solid;
border-right-style-ltr-source: physical;
border-right-style-rtl-source: physical;
border-bottom-style: solid;
border-left-style-value: solid;
border-left-style-ltr-source: physical;
border-left-style-rtl-source: physical;
border-top-color: #dddddd;
border-right-color-value: #aaaaaa;
border-bottom-color: #aaaaaa;
border-left-color-value: #dddddd;
border-left-color-ltr-source: physical;
border-left-color-rtl-source: physical;
border-right-color-ltr-source: physical;
border-right-color-rtl-source: physical;
background-color: #5581c0;
border: 1px #2E5D99 solid;
}

.button.default, input.default[type="submit"], .submit-row input.default{
border-top-width: 2px;
border-right-width-value: 2px;
border-right-width-ltr-source: physical;
border-right-width-rtl-source: physical;
border-bottom-width: 2px;
border-left-width-value: 2px;
border-left-width-ltr-source: physical;
border-left-width-rtl-source: physical;
border-top-style: solid;
border-right-style-value: solid;
border-right-style-ltr-source: physical;
border-right-style-rtl-source: physical;
border-bottom-style: solid;
border-left-style-value: solid;
border-left-style-ltr-source: physical;
border-left-style-rtl-source: physical;
border-top-color: #5b80b2;
border-right-color-value: #5b80b2;
border-right-color-ltr-source: physical;
border-right-color-rtl-source: physical;
border-bottom-color: #5b80b2;
border-left-color-value: #5b80b2;
border-left-color-ltr-source: physical;
border-left-color-rtl-source: physical;
background-color: ##5581c0;
background-repeat: repeat-x;
background-attachment: scroll;
background-position: center bottom;
font-weight: bold;
color: white;
float: right;
}



/* .button.default, input.default[type="submit"], .submit-row input.default{ */
/* border-left:2px solid black; */
/* border-top-width: 2px; */
/* border-right-width-value: 2px; */
/* border-right-width-ltr-source: physical; */
/* border-right-width-rtl-source: physical; */
/* border-bottom-width: 2px; */
/* border-left-width-value: 2px; */
/* border-left-width-ltr-source: physical; */
/* border-left-width-rtl-source: physical; */
/* border-top-style: solid; */
/* border-right-style-value: solid; */
/* border-right-style-ltr-source: physical; */
/* border-right-style-rtl-source: physical; */
/* border-bottom-style: solid; */
/* border-left-style-value: solid; */
/* border-left-style-ltr-source: physical; */
/* border-left-style-rtl-source: physical; */
/* border-color: black; */
/* border-right-color-ltr-source: physical; */
/* border-right-color-rtl-source: physical; */
/* border-left-color-ltr-source: physical; */
/* border-left-color-rtl-source: physical; */
/* background-color: #bd934f; */
/* background-repeat: repeat-x; */
/* background-attachment: scroll; */
/* background-position: center bottom; */
/* font-weight: bold; */
/* color: black; */
/* float: right; */
/* } */

.invisible {visibility:hidden}


/* Begin Typography & Colors */
body {
    font-size: 62.5%; /* Resets 1em to 10px */
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    background-color: #AAAAAA;
    color: #333;
    text-align: center;
}

#topbar {
    margin: 0;
    max-width:750px;
    height:25px;
    line-height:23px;
    background:#FFFFE6;
    overflow:hidden;
    border-bottom: 1px black solid;
}


#topbar a, #topbar {
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    text-align: right;
    padding-right: 5px;
}

#pagebar {
    width: 800px;
    height: 35px;
    border-bottom: 1px black solid;
    padding: 0;
    margin: 0;
}

#pagebar a {
	font-family: "Trebuchet MS", Verdana, Arial, Sans-Serif;
	color: #333;
	font-size: 1.4em;
	display: block;
	float: left;
	padding: 8px 15px 0px 15px;
	border-right: 1px #CECECE solid;
	text-align: center;
	height: 27px;
}

#pagebar a:hover {
	/*nothing pretty so we dont break paths to files */
	background-color: #CECECE;
	text-decoration: none;
}

#pagebar li {
	list-style:none;
}


.entry {
	font-size:1.2em;
	font-family:  Verdana;
	overflow: hidden;
}

#page {
	background-color: white;
	border: 1px solid #959596;
	text-align: left;
	width: 800px;
	}

#header {
	background-color: #73a0c5;
	border-bottom: 1px black solid;
	}

#content {
	float: left;
	padding: 0 0 20px 30px;
	margin: -60px 0 0 0;
	width: 520px;
	}

#content .entry {
	line-height: 1.4em;
	}


.alt {
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	}

#foot {
	background-color: #eee;
	}

small {
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
	}

small.cats {
	text-transform: uppercase;
	font-family: Helvetica, Verdana;
	font-size: 0.9em;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-weight: bold;
}

h1 {
    font-size: 4em;
    text-align: center;
}

.description {
    font-size: 1.2em;
    text-align: center;
}

h2 {
	font-size: 1.8em;
}

h2.pagetitle {
	font-size: 1.6em;
	}

#sidebar h2 {
    font-family: Verdana, Sans-Serif;
    font-weight: normal;
    text-indent: 10px;
    background-color: #5581C0;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 3px 0;
    font-size: 1em;
}

h3 {
    font-size: 1.3em;
}

h1, h1 a, h1 a:hover, h1 a:visited, .description {
    text-decoration: none;
    color: #B0C7FF;
}


h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
    color: #333;
}

/* h2, h2 a, h2 a:visited { */
/*     color: #B0C7FF; */
/* } */

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
    text-decoration: none;
}

.entry p a:visited {
    color: #b85b5a;
}

p.about {
	text-align: center;
	background-color: #F8F8F8;
	font-size: 1.2em;
	font-family: Arial, Verdana, Sans-Serif;
}

#sidebar {
    font: 1em 'Lucida Grande', Verdana, Arial, Sans-Serif;
    min-height: 548px;
}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color: #777;
	}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

#pagebar li.page_item {
	display: inline;
}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}

a, h2 a:hover, h3 a:hover {
	color: #06c;
	text-decoration: none;
	}

a:hover {
	color: #147;
	text-decoration: underline;
	}

#wp-calendar #prev a {
	font-size: 9pt;
	}

#wp-calendar a {
	text-decoration: none;
	}

#wp-calendar caption {
	font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align: center;
	}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	}
/* End Typography & Colors */



/* Begin Structure */
body {
	margin: 0;
	padding: 0;
	}

#page {
	background-color: white;
	margin: 0px auto;
	padding: 0px;
	width: 800px;
	border: 0;
	}

#header {
	padding: 0;
	margin: 0 auto;
	height: 140px;
	width: 100%;
	background-color: #73a0c5;
	}

#headerimg {
	margin: 0;
	height: 140px;
	width: 100%;
/* 	background-image: url(images/blue_flower/head.jpg); */
	background-image: url(/static/head.jpg);
	}


.post {
	margin: 0 0 30px;

	}

.widecolumn .post {
	margin: 0;
	}

.sticky h2 {
background: #5581C0;
padding: 10px;
color: white;
}

.postmetadata {
	clear: both;
}
.narrowcolumn .postmetadata {
	padding-top: 5px;
	}

.widecolumn .postmetadata {
	margin: 30px 0;
	}

#foot {
	padding: 0;
	margin: 0 auto;
	width: 750px;
	clear: both;
	border-top: 1px black solid;
	}

#foot p {
	margin: 0;
	padding: 10px 0;
	text-align: center;
	}
/* End Structure */



/*	Begin Headers */
h1 {
	padding-top: 40px;
	margin: 0;
	}

.description {
	text-align: center;
	margin-top: -5px;
	}

h2 {
	margin: 30px 0 0;
	}

h2.pagetitle {
	margin-top: 30px;
	text-align: center;
}

h3 {
	padding: 0;
	margin: 30px 0 0;
	}

h3.comments {
	padding: 0;
	margin: 40px auto 20px ;
	}
/* End Headers */



/* Begin Images */
p img {
	padding: 0;
	margin: 0 5px;
	}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered, img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left
	}
/* End Images */



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	}

html>body .entry li {
	margin: 7px 0 8px 10px;
	}

.entry ul li:before, #sidebar ul ul li:before {
	content: "o ";
	}
*:first-child+html>body .entry ul {
	margin-left: 0;
 	padding: 0 0 0 30px;
	list-style: disc;
	padding-left: 10px;
	text-indent: 10px;
}

*:first-child+html>body .entry ul li {
	margin: 7px 0 8px 10px;
}

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}

#sidebar ul, #sidebar ul ol {
	margin: 0;
	padding: 0;
	}

#sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 20px;
	}

#sidebar ul p, #sidebar ul select {
	margin: 4px 0 8px;
	}

#sidebar ul ul, #sidebar ul ol, #sidebar ul div  {
	background-color: #F8F8F8;
	border: 1px #2E5D99 solid;
	padding: 8px;
}

#sidebar ul div.textwidget ul {
	border: 0;
}

#sidebar .widget {
	overflow: hidden;
}

#sidebar ul ul ul, #sidebar ul ol {
	background: transparent;
	margin: 0 0 0 10px;
	border: none;
	padding: 0;
	}

#sidebar ul div div {
	background: transparent;
	margin: 0;
	border: none;
	}

ol li, #sidebar ul ol li {
	list-style: decimal outside;
	}

#sidebar ul ul li, #sidebar ul ol li {
	margin: 3px 0 0;
	padding: 0;
	}
/* End Entry Lists */



/* Begin Form Elements */
#searchform {
	margin: 10px auto;
	text-align: center;
	}

#sidebar #searchform #s {
    margin-top: 8px;
    width: 115px;
    padding: 2px;
}

#sidebar #searchsubmit {
    padding: 1px;
}

.entry form { 
    text-align:center;
}

select {
/*     width: 130px; */
    min-width: 80px;
    min-height: 120px;
}

/* End Form Elements */


/* Begin Sidebar */
#sidebar
{
	padding: 20px 0 10px 0;
	margin: -60px 0 0 580px;
	width: 200px;
	}

#sidebar form {
	margin: 0;
	}
/* End Sidebar */

/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

hr {
	height: 1px;
	color: #AAAAAA;
	background-color: #AAAAAA;
	border: 0;
	}

a img {
	border: none;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
	}
/* End Various Tags & Classes*/

.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

table {
    margin:15px 0px;
}