/* body { */
/*   margin: 0; */
/*   padding: 0 1em; */
/*   color: #1a1a1a; */
/*   font: message-box; */
/*   background-color: #edeceb; */
/* } */

/* #page { */
/* /\*   margin: 0; *\/ */
/* /\*   padding: 0 1em; *\/ */
/*   color: #1a1a1a; */
/*   font: message-box; */
/* /\*   background-color: #edeceb; *\/ */
/* } */

#examPage{
  color: #1a1a1a;
  font: message-box;
/*   position: relative; */
  min-width: 13em;
  max-width: 800px;
/*   min-height: 1024px; */
/*   margin: 4em 2% 4em auto; */
  margin: 1% auto;
  overflow:hidden;
  border: 1px solid ThreeDShadow;
  -moz-border-radius: 30px;
  padding: 3em;
  background: #FFF;
  background-repeat: repeat-y;
}

#examHeader{
  position: relative;
/*   min-width: 12em; */
  width: 800px;
/*   height: 70px; */
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #7e293e;
/*   -moz-border-radius: 10px; */
/*   padding: 20px; */
  background-color: #ffe4dd;
  float: left;
}

#questions{
    margin-top: 16px;
    margin-right: 2px;
/*     heigth: 70px; */
/*     width: 460px; */
    margin: 1% 10% auto auto;
    text-align: justify;
    float: left;
}

#examHeaderLeft{
/*     background-color: #ffe4dd */
/*     height: 33px; */
    width: 336px;
    float: left;
}

#examHeaderRight{
    margin-top: 6px;
    margin-right: 2px;
/*     background-color: #ff34dd; */
/*     height: 70px; */
    width: 460px;
    text-align: right;
    float: left;
}

#bold{
    font-weight:bold;
}

#espaciado{
    margin: 6px;
}

/* H1 { */
/*     color: #000000; */
/*     font-family: helvetica,MS Sans Serif; */
/*     font-weight: bold; */
/*     font-size: 26px; */
/* } */
/* H2 { */
/*     font-family: helvetica,MS Sans Serif; */
/*     font-weight: bold; */
/*     font-size: 20px; */
/*     text-decoration: none */
/* } */

/* a:link { */
/*     text-decoration : none; */
/*     color: #0000DD; */
/* } */

/* a:visited { */
/*     text-decoration : none; */
/*     color: #0000DD; */
/* } */

/* a:hover { */
/*     text-decoration : underline; */
/* } */

.questionNumber {
    font-weight : bold;
    font-size : 16px;
}

.questionText {
    font-weight : bold;
}

.grade {}

.optionNumber {
    font-weight : bold;
    font-size : 16px;
}

.markAnswer {
    background: #cccccc;
}

/* body { */
/*     margin-top : 10px; */
/*     margin-right : 20px; */
/*     margin-bottom : 20px; */
/*     margin-left : 20px; */
/*     font-weight : normal; */
/*     font-size : 14px; */
/* } */

#right{
    text-align: left;
}

#footer {
    margin: 20px;
    float:right;
    text-align: right;
    font-family: Georgia, 'Times New Roman', serif;
    color: #11E;
}

.mark {
    font-size: 120%;
    color: red;
}

/* .invisible {visibility:hidden} */
