/* #page { */
/* padding: 0; */
/* color: #1a1a1a; */
/* font: message-box; */
/* float: right; */
/* margin-right:1px; */
/* margin-top: 5%; */
/* margin-bottom: auto; */
/* } */

/* #pageleft { */
/*     padding: 0; */
/*     width: 760px; */
/*     float: left; */
/*     overflow-x: hidden; */
/*     overflow-y: hidden; */
/*     margin-top: 2%; */
/*     margin-bottom: auto; */
/* } */

#menu {
    padding: 0;
    max-width: 101px;
/*     width: 760px; */
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 6%;
    margin-bottom: auto;
/*     margin-left: 2%; */
    marxogin-right: 2%;
    background-color: #FFFFFF;
}

#examPage {
    float: right;
}

#exams {
    /* background-color: #22201d; */
    background-color: #DDDDDD;
    width: 1000px;
    padding: 2%;
    color: #1a1a1a;
    font: message-box;
    float: right;
    margin-right:20%;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
}

.invisible {visibility:visible;}

.visible {visibility:visible;}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
    color: #B0C7FF;
}

h2 {
    font-size: 2em;
}