/*  -----|  Globals  |------------------------------------------------------  */

body {
    background-color: #161410;
    color: #999;
    font: 62.5%/125% 'Trebuchet MS', Tahoma, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.hr {
    background-color: #22201d;
    border: 1px solid #363430;
    height: 10px;
    margin: 10px 0;
    width: 758px;
}

a:link, a:visited, a:active { color: #d8d7d3; text-decoration: none; }
a:hover { color: #fff; text-decoration: none; }

a img { border: 0; }

/* ul { list-style: none; } */

/* input, textarea { */
/*     color: 7099cc; */
/*     font-size: 11px; */
/*     text-decoration: none; */
/*     background-color: #161410; */
/*     border: 1px solid #363430; */
/*     padding: 4px; */
/* } */

blockquote {
    background: #1b1814;
    padding: 1px 15px 5px;
    border-bottom: 1px solid #35302a;
}

table { width: 100%; border-collapse: collapse; } /* By default is collapse */
th { border-bottom: 1px solid #000000; border-top: 1px solid #000; text-align: center; }
th { color: #bd934f; margin: 15px 0 5px; font-variant: small-caps; font-size: 12px; }
/* tr{ display: block; padding: 4px 10px; background: #22201d;  margin: 1px 0;} */
tr.main {margin: 1px 0; background: #22201d;}
/* th {#35302a; text-align: center; } */


pre {
    padding: 5px 0;
    border-top: 1px dotted #35302a;
    border-bottom: 1px dotted #35302a;
}



/*  -----|  Structure  |----------------------------------------------------  */

#superpage{
/*     max-width: 1600px; */
    width: 1650px;
/*     margin: 50px auto 25px; */
    position: relative;
    margin: 2% 2% auto auto;
/*     margin-left: 1%; */
/*     margin-right: auto; */
    padding: 0;

}

#page {
    margin: 50px auto 25px;
    padding: 0;
    width: 760px;
}

#header {
    text-align: center;
}

#wrapper, #headerimg { width: 760px; position: relative; }

#errorimg {
    width: 320px;
    position:relative;
    margin: 50px auto 25px;
}

.error {
    padding: 10px;
    color: #ffffff;
    font-size: 32px;
}

#candidateimg { width: 39px; height: 35px; position: relative;}

#foot {
    font-family: Georgia, 'Times New Roman', serif;
    color: #999;
}

#content, #sidebar {
    border-left: 1px solid #363430;
    border-right: 1px solid #363430;
    padding: 0 10px;
    overflow: hidden;
/*     margin: auto; */
}

#content { float: left; font-size: 1.1em; width: 517px; }
#content h2 { margin: 0 0 10px; }
#content p { line-height: 1.5em; }

#sidebar { border-left: 0; float: right; width: 200px; }
#sidebar h3 { color: #bd934f; margin: 15px 0 5px; font-variant: small-caps; font-size: 12px; }
#sidebar h3 a { color: #bd934f; }
#sidebar ul { margin: 0 0 10px; padding: 0; border-top: 1px solid #363430; border-bottom: 1px solid #363430; }
#sidebar li { display: block; padding: 4px 10px; background: #22201d;  margin: 1px 0;}
#sidebar li:hover { background: #363430; }

#searchform { background: #22201d; padding: 10px; text-align: center; }
#s { width: 160px; }
#submit { margin-top: 5px;}

/* Post Structure */

.post { padding: 10px 0 0; }
.post { padding: 0; margin: 0; }

.top { padding: 15px 10px 0px; background: #1b1814; margin-bottom: 15px; border-bottom: 1px solid #35302a; }
.lastfive { padding-left: 10px; padding-right: 10px; }
.postmetadata { margin: 3px 0; padding: 0; }
.postmetadata a { font-weight: bold; }
#sidebar .postmetadata { line-height: 1.5em; }

.top .entry { font-size: 1.1em; }
.entrytext { padding: 0 10px 0; line-height: 2em; font-size: 1.1em; }

.entrytext h2 { border-bottom: 1px solid #bd934f; display: block; }
.entry ul, .entrytext ul { list-style-type: square; }

/*  -----|  Typography  |---------------------------------------------------  */

h1, h2, h3, h4, h5, h6 { font-family: Georgia, 'Times New Roman', serif; font-weight: normal; }

h1 { text-transform: lowercase; color: #fff; font-size: 2em; margin: 0 0 8px; }
h1:before, h1:after { content: " . . "; color: #444; }
h1 span.main { color: #bd934f; }

h2 { color: #bd934f; font-size: 1.25em; line-height: 1.15em; margin: 0; padding: 1px 0; display: inline; border-bottom: 1px solid #35302a; }
.post h2 a { color: #bd934f; }
.post h2.first { font-size: 1.75em; }

h2.title {
    display: block;
    padding: 13px 10px;
    background: #1b1814;
    margin: 0 0 15px;
    border-bottom: 1px solid #35302a;
    font-size: 1.75em; }

.description { color: #666; font-weight: bold; }

h3 { margin: 0 0 10px 0; color: #bd934f; }



/*  -----|  Miscellaneous  |------------------------------------------------  */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#sidebar { background-color: #161410; margin: 0; padding: 0; list-style: none;  }
.navigation {
	margin-top: 10px;
	padding: 10px;
	border-top: 1px solid #35302a;
	}
.navigation .left { float: left; }
.navigation .right { float: right; }

.submit-row{
padding-top: 2px;
padding-right: 7px;
padding-bottom: 2px;
padding-left: 7px;
text-align: right;
background-color: #22201d;
background-repeat: repeat-x;
background-attachment: scroll;
background-position: 0pt 100%;
border-top-width: 1px;
border-right-width-value: 1px;
border-right-width-ltr-source: physical;
border-right-width-rtl-source: physical;
border-bottom-width: 1px;
border-left-width-value: 1px;
border-left-width-ltr-source: physical;
border-left-width-rtl-source: physical;
border-top-style: solid;
border-right-style-value: solid;
border-right-style-ltr-source: physical;
border-right-style-rtl-source: physical;
border-bottom-style: solid;
border-left-style-value: solid;
border-left-style-ltr-source: physical;
border-left-style-rtl-source: physical;
border-top-color: #363430;
border-right-color-value: #363430;
border-right-color-ltr-source: physical;
border-right-color-rtl-source: physical;
border-bottom-color: #363430;
border-left-color-value: #363430;
border-left-color-ltr-source: physical;
border-left-color-rtl-source: physical;
margin-top: 5px;
margin-right: 0pt;
margin-bottom: 5px;
margin-left: 0pt;
overflow-x: hidden;
overflow-y: hidden;
}

.button.default, input.default[type="submit"], .submit-row input.default{
border-left:2px solid black;
border-top-width: 2px;
border-right-width-value: 2px;
border-right-width-ltr-source: physical;
border-right-width-rtl-source: physical;
border-bottom-width: 2px;
border-left-width-value: 2px;
border-left-width-ltr-source: physical;
border-left-width-rtl-source: physical;
border-top-style: solid;
border-right-style-value: solid;
border-right-style-ltr-source: physical;
border-right-style-rtl-source: physical;
border-bottom-style: solid;
border-left-style-value: solid;
border-left-style-ltr-source: physical;
border-left-style-rtl-source: physical;
border-color: black;
border-right-color-ltr-source: physical;
border-right-color-rtl-source: physical;
border-left-color-ltr-source: physical;
border-left-color-rtl-source: physical;
background-color: #bd934f;
background-repeat: repeat-x;
background-attachment: scroll;
background-position: center bottom;
font-weight: bold;
color: black;
float: right;
}

.invisible {visibility:hidden}