      H1 {
      color: #000000;
      font-family: helvetica,MS Sans Serif;
      font-weight: bold;
      font-size: 26px;
      }
      H2 {
      font-family: helvetica,MS Sans Serif;
      font-weight: bold;
      font-size: 20px;
      text-decoration: none
      }

      a:link {
      text-decoration : none;
      color: #0000DD;
      }

      a:visited {
      text-decoration : none;
      color: #0000DD;
      }

      a:hover {
      text-decoration : underline;
      }

      .questionNumber {
      font-weight : bold;
      font-size : 16px;
      }

      .questionText {
      font-weight : bold;
      }

      .grade {}

      .optionNumber {
      font-weight : bold;
      font-size : 16px;
      }

      .markAnswer {
      background: #cccccc;
      }

      body {
      margin-top : 10px;
      margin-right : 20px;
      margin-bottom : 20px;
      margin-left : 20px;
      font-weight : normal;
      font-size : 14px;
      }