{% extends "candidateTool/base.html" %}
{% load i18n %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/plantilla.css"
      type="text/css" media="screen" />
<link rel="stylesheet" href="/static/css/style_modified.css"
      type="text/css" media="screen" />
<!-- <link rel="stylesheet" href="/static/css/new_style.css" -->
<!--       type="text/css" media="screen" /> -->
{% endblock %}

{% block js %}
<!-- Dependencies -->
<script type="text/javascript"
	src="/static/js/yui/yahoo-dom-event.js">
</script>

<!-- OPTIONAL: Animation (only required if using ContainerEffect) -->
<script type="text/javascript"
	src="/static/js/yui/animation-min.js">
</script>

<!-- Source file -->
<script type="text/javascript"
	src="/static/js/yui/container-min.js">
</script>

<script type="text/javascript"
	src="/static/js/yui/event-min.js">
</script>

<script type="text/javascript"
	src="/static/js/yui/yahoo-min.js">
</script>

<script type="text/javascript"
	src="/static/js/yui/dom-min.js">
</script>

<script type="text/javascript"
	src="/static/js/yui/connection-min.js">
</script>

<script type="text/javascript"
	src="/static/js/yahoo-dom-event.js">
</script>

<script type="text/javascript"
	src="/static/js/update_qprp.js">
</script>
{% endblock %}


{% block main %}
<body style="background-image:
	     url(/static/bg.jpg);
	     background-attachment:fixed; background-repeat:
	     repeat-y; background-position: top center;">

<div id="page" style="z-index:10;">

  {% block header %}
     {{block.super}}
  {% endblock %}

  <ul id="pagebar" style="background:url(/static/pagebar.jpg);"></ul>

  <div id="grad" style="height: 65px; width: 100%;
  background:url(/static/topgrad.jpg);">&nbsp;</div>


  <div id="wrapper" class="clearfix">

    {% block content %}
    <div id="content">

      {% block first %}{% endblock %}
      {% block rest %}{% endblock %}

    </div>
    {% endblock %}

    {% block sidebar %}
    <div id="sidebar">
      <!-- 	{{candidate.demographics_set.all.get_representation_url}} -->
      {% if dem.representation %}
      <img src=/static/{{dem.representation}} alt="Foto Alumno" margin="20"
	   width="84" height="75";/>
      {% else %}
      <img src=/static/siluetaf.jpg alt="Foto Alumno" margin="20"
	   width="84" height="75";/>
      {% endif %}

      <ul>
	<li id="pages-2" class="widget widget_pages">
	  <h2 class="widgettitle">{% trans "Asignaturas" %}</h2>
	  <ul>
	    {% for subject in candidate.subject.all %}
	    <li class="page_item page-item-2">
	      <a href={{subject.uri}}
		 title={{subject.name}}>{{subject.name}}</a>
	    </li>
	    {% endfor %}
	  </ul>
	</li>
      </ul>

    <ul>
    {% for group in candidate.user.groups.all %}
      {% ifequal group.name "Profesores" %}
      <li id="pages-2" class="widget widget_pages">
	<h2 class="widgettitle">
	  <a href='/statistics/'
	     title={% trans "Estadísticas" %}>{% trans "Estadísticas" %}</a>
	</h2>
      </li>
    </ul>
    <ul>
      <li id="pages-2" class="widget widget_pages">
	<h2 class="widgettitle">{% trans "Exámenes" %}</h2>
	<ul>
	  <li class="page_item page-item-2">
	    <a href='/questionsprp/'
	       title={% trans "Preguntas sin calificar" %}>{% trans "Preguntas sin calificar" %}</a>
	  </li>
	  <li class="page_item page-item-2">
	    <a href='/examinpaper/'
	       title={% trans 'En papel' %}>{% trans "En papel" %}</a>
	  </li>
	</ul>
      </li>
    </ul>
    {% endifequal %}
    {% endfor %}
      <li id="pages-2" class="widget widget_pages">
	<h2 class="widgettitle">
	  <a href='/salir/'
	     title={% trans 'Cerrar' %}>{% trans "Cerrar sesión" %}</a>
	</h2>
      </li>
    </div>
    {% endblock %}
  </div>

  <div id="foot">
    <p>
      {% trans "Esta herramienta (AssessmentSystem) forma parte de "%} 
      <a href='https://forja.rediris.es/projects/csl2-sdocente/'
	 title='SAD'>SAD.</a>
    </p>
  </div>
</div>

<div id="exams" class="invisible">
  <div id="menu">
    <table name="results" border="0" cellpadding="3">
      <tr>
	<th width="60%" align="left" border="0px"
	    valign="center" style="border-bottom-width: 0px;">
	  <span class="textbf">Preguntas </span>
	</th>
      </tr>
      <tr name="ult">
	<td align="center">
	  <select id="qprp" name="qprp" size="5">
	    <!--   {% for key,value in questions.items %} -->
	    <!--   <option value="{{key}}"><strong> {{ value }} </strong></option> -->
	    <!--   {% endfor %} -->
	    {% for key, value in questions.items %}
	    <option value="{{key}}"><strong> {{ value }} </strong></option>
	    {% endfor %}
	  </select>
	</td>
      </tr>
    </table>
  </div>
  {% block question %}
  {% include "candidateTool/exams/question.html" %}
  {% endblock %}

</div>

{% endblock %}


