{% extends "candidateTool/base.html" %}
{% load i18n %}

{% block main %}
<body style="background-image:
	     url(/static/bg.jpg);
	     background-attachment:fixed; background-repeat:
	     repeat-y; background-position: top center;">
<div id="page" style="z-index:10;">

  {% block header %}
  <div id="header">
    <div id="headerimg">
      <h1><a href="/main/">{% trans "SAD" %}</a></h1>
      <div class="description">{% trans "Sistema de apoyo a la docencia" %}</div>
      <!--       <img alt="header image" src="/static/head.jpg"/> -->
    </div>
  </div>
  {% endblock %}

  <!-- http://s3.wordpress.com/wp-content/themes/pub/contempt/images/blue_flower/pagebar.jpg -->
  <ul id="pagebar" style="background: url(/static/pagebar.jpg);">
<!--     <li class="page_item current_page_item"><a href="/main/">Inicio</a></li> -->
<!--     <li class="page_item -->
<!-- 	       page-item-2"> -->
<!--       <a href='https://forja.rediris.es/projects/csl2-sdocente/' -->
<!-- 	 title="Sobre SDocente">Sobre SDocente</a> -->
<!--     </li> -->
  </ul>

  <!-- http://s1.wordpress.com/wp-content/themes/pub/contempt/images/blue_flower/topgrad.jpg -->
  <div id="grad" style="height: 65px; width: 100%; background: url(/static/topgrad.jpg);">&nbsp;</div>

  {% block content %}
  <div id="content">

    {% block first %}{% endblock %}
    {% block rest %}{% endblock %}

  </div>
  {% endblock %}

  {% block sidebar %}
  <div id="sidebar">
    {% if dem.representation %}
    <img src=/static/{{dem.representation}} alt={% trans "Foto Alumno"%}
	 margin="20" width="84" height="75"/>
    {% else %}
    <img src=/static/siluetaf.jpg alt="Foto Alumno" margin="20"
	 width="84" height="75"/>
    {% endif %}
    <h4>
    {% trans "¡Bienvenido" %} <strong>{{ candidate.formName }}</strong>!
    </h4>

    <ul>
      <li id="pages-2" class="widget widget_pages">
	<h2 class="widgettitle">{% trans "Asignaturas" %}</h2>
	<ul>
	  {% for subject in candidate.subject.all %}
	  <li class="page_item page-item-2">
	    <a href={{subject.uri}}
	       title={{subject.name}}>{{subject.name}}</a>
	  </li>
	  {% endfor %}
	</ul>
      </li>
    </ul>

<!--     {% for group in candidate.user.groups.all %} -->
<!--       {% ifequal group.name "Alumnos" %} -->
<!--           <li id="pages-2" class="widget widget_pages"> -->
<!-- 	    <h2 class="widgettitle"> -->
<!-- 	      <a href='/exams/' -->
<!-- 		 title='Calificaciones'>Calificaciones</a> -->
<!-- 	    </h2> -->
<!-- 	  </li> -->
<!--       {% endifequal %} -->
<!--     {% endfor %} -->
    {% for group in candidate.user.groups.all %}
      {% ifequal group.name "Profesores" %}
    <ul>
      <li id="pages-2" class="widget widget_pages">
	<h2 class="widgettitle">
	  <a href='/statistics/'
	     title='Estadísticas'>Estadísticas</a>
	</h2>
      </li>
    </ul>
    <ul>
      <li id="pages-2" class="widget widget_pages">
	<h2 class="widgettitle">Exámenes</h2>
	<ul>
	  <li class="page_item page-item-2">
	    <a href='/questionsprp/'
	       title={% trans 'Preguntas sin calificar' %}>{% trans "Preguntas sin calificar"%}</a>
	  </li>
	  <li class="page_item page-item-2">
	    <a href='/examinpaper/'
	       title={% trans 'En papel'%}>{% trans "En papel"%}</a>
	  </li>
	</ul>
      </li>
    </ul>
      {% endifequal %}
      {% endfor %}

      <li id="pages-2" class="widget widget_pages">
	<h2 class="widgettitle">
	  <a href='/salir/'
	     title='Cerrar'>Cerrar sesión</a>
	</h2>
      </li>
    </div>
    {% endblock %}

  <div id="foot">
    <p>
      Esta herramienta (AssessmentSystem) forma parte
      de <a href='https://forja.rediris.es/projects/csl2-sdocente/'
	    title='SAD'>SAD.</a>
    </p>
  </div>
</div>

<!-- <div style="position:absolute;z-index:20;visibility:hidden"> -->
<!--   <select widht="100%" style="background-color:#22201d;color:#FFFFFF" -->
<!-- 	  id="exams" size="4" name="ex"> -->
<!--     {% for key,value in questions.items %} -->
<!--     <option value="{{key}}"><strong> {{ value }} </strong></option> -->
<!--     {% endfor %} -->
<!--     <select> -->
<!-- </div> -->
</body>
{% endblock %}
