<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="es">
  <head profile="http://gmpg.org/xfn/11">
    {% block meta %}
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SAD</title>
    {% block style %}
    <link rel="stylesheet" href="/static/css/new_style.css"
	  type="text/css" media="screen"/>
    <style type="text/css">
      #headerimg{
      background: url(/static/head.jpg) no-repeat;
      }
      #header h1 a, .description {
      color:#E5F2E9;
      }
    </style>
    {% endblock %}
    {% block js %}
    <script type="text/javascript"
	    src="/static/js/yui/yahoo-min.js">
    </script>
    <script type="text/javascript"
	    src="/static/js/yui/dom-min.js">
    </script>
    <script type="text/javascript"
	    src="/static/js/yui/event-min.js">
    </script>
    <script type="text/javascript"
	    src="/static/js/yui/connection-min.js">
    </script>
    <script type="text/javascript"
	    src="/static/js/yahoo-dom-event.js">
    </script>
    <script type="text/javascript"
	    src="/static/js/yui/animation-min.js">
    </script>
    <script type="text/javascript"
	    src="/static/js/yui/container.js">
    </script>
    {% endblock %}
  </head>
    {% block main %}
  <body style="background-image:
	       url(http://s2.wordpress.com/wp-content/themes/pub/contempt/images/blue_flower/bg.jpg);
	       background-attachment:fixed; background-repeat:
	       repeat-y; background-position: top center;">
  </body>
    {% endblock %}
</html>
