<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>SAD</title>
    <link rel="stylesheet" href="/static/css/alert.css"
	  type="text/css" media="all" />
  </head>

  <body>

    <div id="infoContainer" style="background: url('/static/download.png') left 0 no-repeat -moz-Field; -moz-background-origin: content;">

      <div id="title">
        <h1>{% trans "¡Descargue SAD!" %}</h1>
      </div>

      <div id="longContent">

        <div id="shortDesc">
	  <p>{% trans "Una versión de SAD se genera todas las
	  noches. SAD está en desarrollo, no la use en
	  producción." %}</p>
	  <p>{% trans "Está invitado a probarla y darnos su opinión mediante
	    un" %} <a href="mailto:javierperis@gmail.com?subject=SAD">e-mail</a>
	    {% trans "al desarrollador principal o con un comentario en
	    la" %} <a href="http://www.javierperis.wordpress.com">web</a>
	    {% trans "que informa sobre los pasos de desarrollo de
	    este software." %}
	  </p>

	  <ul>
	    <li><a href ="/static/sdocente.zip">{% trans "Descargar
	    SAD" %}</a></li>
	    <li>
	      <a href ="/static/sd-instalacion.pdf">{% trans "Manual
		de instalación" %}</a>
	    </li>
	  </ul>
        </div>

      </div>
      <div id="title">
        <h1>{% trans "¡Contribuya con SAD!" %}</h1>
      </div>

      <div id="longContent">
	<div id="shortDesc">
	  <p>{% trans "SAD es una aplicación extensible. Si quiere colaborar
	    en el desarrollo, puede crear nuevos tipos de preguntas o
	    nuevos renders." %}
	  </p>

	  <p>{% trans "Puede descargar toda la documentación del proyecto,
	    código y otros materiales útiles desde el repositorio svn
	    en la dirección:
	    https://forja.rediris.es/svn/csl2-sdocente. Puede
	    encontrar más información de Subversion
	    (svn)" %} <a href="http://svnbook.red-bean.com/">{% trans "aquí." %}</a>
	  </p>

	  <p>{% trans "De otro modo, puede descargar los breves manuales para el
	    desarrollo de nuevos renders y nuevas preguntas en los
	    siguientes enlaces:" %}
	  </p>

	  <ul>
	    <li><a href ="/static/sd-renders.pdf">{% trans "Crear nuevos
		renders " %}</a></li>
	    <li><a href ="/static/sd-preguntas.pdf">{% trans "Crear nuevas
		preguntas " %}</a></li>
	  </ul>

	</div>

      </div>

    </div>

  </body>
</html>
