{% extends "candidateTool/base_main.html" %}
{% load i18n %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/plantilla.css"
      type="text/css" media="screen"/>
{% endblock %}

{% block js %}
<script type="text/javascript"
	src="/static/js/yui/yahoo-min.js">
</script>
<script type="text/javascript"
	src="/static/js/yui/dom-min.js">
</script>
<script type="text/javascript"
	src="/static/js/yui/event-min.js">
</script>
<script type="text/javascript"
	src="/static/js/yui/connection-min.js">
</script>
<script type="text/javascript"
	src="/static/js/yahoo-dom-event.js">
</script>
<script type="text/javascript"
	src="/static/js/yui/animation-min.js">
</script>
<script type="text/javascript"
	src="/static/js/yui/container.js">
</script>
<script src="/static/js/yui/json-min.js">
</script>
<script type="text/javascript"
	src="/static/js/update_table.js">
</script>
{% endblock %}

{% block first %}{% endblock %}
{% block rest %}
<!-- <table border="1" cellpadding="3"> -->
<!--   <tr> -->
<!--     <th align="center"><span class="textbf">Examen</span> -->
<!--     </th> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td> -->
<!--       <select id="qprp" name="paperexam"> -->
<!-- 	{% for value in tests %} -->
<!-- 	<option value="1"><strong> {{ value.id }} </strong></option> -->
<!-- 	{% endfor %} -->
<!--       </select> -->
<!--     </td> -->
<!--   </tr> -->
<!-- <table> -->
<form action="/update_results_paper/" method="post" name="eip">
  <table  name="results" width="100%" border="0" cellpadding="3">
    <tr>
      <th align="center"><span class="textbf">{% trans "Examen" %}</span>
      </th>
      <th align="center"
	  valign="center"><span class="textbf">{% trans "Alumno" %}</span>
      </th>
      <th width="100%" align="center"
	  valign="center"><span class="textbf">{% trans "Pregunta" %}</span>
      </th>
      <th align="center"
	  valign="center" width="25px"><span class="textbf">{% trans "Calificación" %}</span>
      </th>
    </tr>
    <tbody name="cuerpo">
      <tr name="ult">
	<td align="center" name="exam" rowspan="5">
	  <select id="eprp" name="paperexam" size="5">
	    <!-- 	  <option value={{ initial }} selected="selected"> -->
	    <!-- 	    <strong> {{ initial }} </strong> -->
	    <!-- 	  </option> -->
	    <option value="0" title="Vacio">
	      <strong> -- </strong>
	    </option>
	    {% for value in tests %}
	    <option value="{{value.id}}" title="{{value.name}}">
	      <strong> {{ value.name }} </strong>
	    </option>
	  {% endfor %}
	  </select>
	</td>
	<td align="center" name="candidates" rowspan="5">
	  <select id="candidates" name="candidate" size="5">
	    {% for key, value in pupils.items %}
	    <option value="{{key}}" selected="selected">
	      <strong> {{ value }} </strong>
	    </option>
	    {% endfor %}
	  </select>
	</td>
    </tbody>
  </table>
</form>
{% endblock %}
