<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> -->

<html>
  <head>
    <title>Examen</title>
    <link rel="stylesheet" href="/static/css/plantilla.css"
    type="text/css" media="all" />
  </head>

  <body>
<!--     {{name}} -->
<!--     {{surname}} -->
    <div id="examPage">
      <span id="examHeader">
	<span id="examHeaderLeft">
	  <img src="/static/headleft.jpg" id="examHeaderLeft"/>
	</span>
	<span id="examHeaderRight">
	  <label id="bold">Test
	    <br id="espaciado">Parte (Sección), 10 de noviembre de 2008</br>
	  </label>
	</span>
      </span>
      <span style="float:left;width:800px;padding-top:10px;" >
	<form style="padding:0;margin:0;" action="./?" method="post" name="login">
	  <span style="float:left;width:70px;margin:9px 10px 0 0;text-align:right">
	    <label for="Apellidos">Apellidos</label>
	  </span>
	  <span style="float:left;width:300px;margin-top:5px;text-align:left">
	    <input style="width:300px" type="text" name="surname"
 		   id="surname" disabled="disabled"/>
<!-- value={{surname}} -->
	  </span>
	  <span style="float:left;width:70px;margin:9px 10px 0 0;text-align:right">
	    <label for="Nombre">Nombre</label>
	  </span>
	  <span style="float:left;width:220px;margin-top:5px;text-align:left">
  	    <input style="width:220px" type="text" name="name"
  		   id="name" disabled="disabled"/>
<!-- value={{name}} -->
	  </span>
	  <span style="float:left;width:60px;margin:9px 10px 0 0;text-align:right">
	    <label for="Nombre">Grupo</label>
	  </span>
	  <span style="float:left;width:50px;margin-top:5px;text-align:left">
	    <input type="text" name="group" id="group" style="width:50px"/>
	  </span>
	</form>
      </span>
      <span id="questions">
	<form action="/report/1/" method="post">
	  <table cellpadding="2px">
    	    <tr>
              <td class="questionNumber">1</td>
    	      <td>
    		<font class="grade">(1.0p)</font>
		<font class='questionText'>Esta imagen pertenece a
		  la película </font>
 		<input hidden="hidden" type="hidden"
 		       name="nombre" value="24"/>
		<input hidden="hidden" type="hidden"
		       name="type" value="inlineChoice"/>
		<select name="24">
		  <option value="A">Las 13 rosas</option>
		  <option value="C">Amor en tiempos de guerra</option>
		  <option value="B">Bailame el agua</option>
		</select>
    		<font class='questionText'>
		</font>
		<img src='/static/trecerosas.jpg'/>
		<p></p>
    	      </td>
    	    </tr>
	    <tr>
	      <td class="questionNumber">2</td>
	      <td>
		<font class="grade">(1.0p)</font>
		<font class="questionText">¿Por qué Marlon Brando se negó a recoger el Oscar en 1973?
		</font>
		<input hidden="hidden" type="hidden"
 		       name="nombre" value="23"/>
		<input hidden="hidden" type="hidden"
		       name="type" value="choiceMultiple"/>
	      </td>
	    </tr>
    	    <tr>
    	      <td></td>
    	      <td>
     		<input type='radio' name="23"
 		       value='A' id='A'/>
    		<font class="optionNumber">
    		  1.

    		</font>

     		Por solidaridad con los indios
    	      </td>
    	    </tr>
    	    <tr>
    	      <td></td>
    	      <td>
    		<input type='radio' name="23" value='B' >
    		<font class="optionNumber" >
    		  2.

    		</font>
    						</input>Porque le avergonzaba hablar en público
    	      </td>
    	    </tr>
    	    <tr>
    	      <td></td>
    	      <td>
    		<input type='radio' name="23" value='C'>
    		<font class="optionNumber">
    		  3.

    		</font>
    						</input>Porque no le gustaban los premios
    		<p></p>
    	      </td>
    	    </tr>
	    <tr>
	      <td class="questionNumber">3</td>
	      <td>
		<font class="grade">(1.0p)</font>
		<font class="questionText">Frase de El Padrino pronunciada por Al Pacino: "Amistad y dinero" 
		</font>
		<input hidden="hidden" type="hidden"
 		       name="nombre" value="22"/>
		<input hidden="hidden" type="hidden"
		       name="type" value="choiceMultiple"/>
	      </td>
	    </tr>

    	    <tr>
    	      <td></td>
    	      <td>
    		<input type='radio' name="22" value="A">
    		<font class="optionNumber">
    		  1.

    		</font>
    						</input>"...agua y aceite"
    	      </td>
    	    </tr>
    	    <tr>
    	      <td></td>
    	      <td>
    		<input type='radio' name="22" value="C">
    		<font class="optionNumber">
    		  2.

    		</font>
    						</input>"...es lo único que quiero"
    	      </td>
    	    </tr>
    	    <tr>
    	      <td></td>
    	      <td>
    		<input type='radio' name="22" value="B">
    		<font class="optionNumber">
    		  3.

    		</font>
    						</input>"...jamás te pertenecen"
    		<p></p>
    	      </td>
    	    </tr>
    	    <tr>
              <td class="questionNumber">4</td>
    	      <td>
    		<font class="grade">(1.0p)</font> 
		<font class='questionText'>Matar a un ruiseñor (1962) supuso el debut cinematográfico de </font>
		<select name="8">
		  <option value="A">John Megna</option>
		  <option value="C">Robert Duvall</option>
		  <option value="B">Sidney Poitier</option>
		</select>
		<input hidden="hidden" type="hidden"
 		       name="nombre" value="8"/>
		<input hidden="hidden" type="hidden"
		       name="type" value="inlineChoice"/>
		<p></p>
    	      </td>
    	    </tr>

    	    <tr>
              <td class="questionNumber">5</td>
    	      <td>
    		<font class="grade">(1.0p)</font>
 			<font class='questionText'>En Sólo Dios lo sabe (1957), Robert Mitchum llega a una isla donde vive una monja encarnada por </font>
		<select name="7">
		  <option value="A">Sue Lyon</option>
		  <option value="C">Deborah Kerr</option>
		  <option value="B">Shirley MacLaine</option>
		</select>
    		<font class='questionText'>
		</font>
		<input hidden="hidden" type="hidden"
 		       name="nombre" value="7"/>
		<input hidden="hidden" type="hidden"
		       name="type" value="inlineChoice"/>
		<p></p>
    	      </td>
    	    </tr>

    	    <tr>
              <td class="questionNumber">6</td>
    	      <td>
    		<font class="grade">(1.0p)</font> <font class='questionText'>Fred Savage, director de Papá Canguro 2, se hizo famoso por la serie </font>
		<select name="2">
		  <option value="A">Juzgado de guardia</option>
		  <option value="C">Aquellos maravillosos años</option>
		  <option value="B">Cosas de casa	</option>
		</select>
    		<font class='questionText'>
		</font>
		<input hidden="hidden" type="hidden"
 		       name="nombre" value="2"/>
		<input hidden="hidden" type="hidden"
		       name="type" value="inlineChoice"/>
		<p></p>
    	      </td>
    	    </tr>

	    <tr>
	      <td class="questionNumber">7</td>
	      <td>
		<font class="grade">(1.0p)</font>
		<font class="questionText">¿Qué actor rechazó ser
		Indiana Jones en 1981 por problemas de agenda?</font>
		<input hidden="hidden" type="hidden"
 		       name="nombre" value="1"/>
		<input hidden="hidden" type="hidden"
		       name="type" value="choiceMultiple"/>
	      </td>
	    </tr>

    	    <tr>
    	      <td></td>
    	      <td>
    		<input type='radio' name="1" value="A">
    		<font class="optionNumber">
    		  1.

   		</font>
    						</input>Rutger Hauer
    	      </td>
    	    </tr>
    	    <tr>
    	      <td></td>
    	      <td>
    		<input type='radio' name="1" value="C">
    		<font class="optionNumber">
    		  2.

    		</font>
    						</input>George Peppard
    	      </td>
    	    </tr>
    	    <tr>
    	      <td></td>
    	      <td>
     		<input type='radio' name="1" value="B">
     		<font class="optionNumber">
     		  3.

     		</font>
     						</input>Tom Selleck
     		<p></p>
    	      </td>
    	    </tr>
	  </table>
	  <div id="footer">
 	    <input type="submit" value="Entregar"/>
<!-- 	    <a href ="http://javierperis.wordpress.com">Entregar</a> -->
	  </div>
	</form>
      </span>
    </div>
  </body>
</html>
