{% extends "candidateTool/base_main.html" %}

{% block first %}{% endblock %}
{% block rest %}
<table border="1" cellpadding="3">
  <tr>
    <th align="center">
      <span class="textbf">Examen</span>
    </th>
    <th width="100" align="left" valign="center">
      <span class="textbf">Su examen</span>
    </th>
    <th width="100" align="left" valign="center">
      <span class="textbf">Examen resuelto</span>
    </th>
    <th width="100" align="left" valign="center">
      <span class="textbf">Calificación</span>
    </th>
  </tr>
  {% for subject in subjects %}
    {% for test in subject.test_set.all %}
    <tr>
      <td align="left">{{subject.name}} ({{test.description}})</td>
      {% if test.is_finished %}
      <td width="100" align="center" valign="center">
	<a href="/myexam/{{test.id}}/">Disponible</a>
      </td>
      <td width="100" align="center" valign="center">
	<a href="/solved/{{test.id}}/">Disponible</a>
      </td>
    {% else %}
      <td width="100" align="center" valign="center">No disponible</td>
      <td width="100" align="center" valign="center">No disponible</td>
    {% endif %}
      <td width="100" align="center" valign="center">
	<a href="/mark/{{test.id}}/">Consultar</a>
      </td>
    </tr>
<!--     {% if candidate.get_assessmentResult %} -->
<!--     <td width="100" align="center" valign="center">Resultado</td> -->
<!--     {% else %} -->
<!--     <td width="100" align="center" valign="center">No disponible</td> -->
<!--     {% endif %} -->
    {% endfor %}
  {% endfor %}
<!--   <tr> -->
<!--     <td align="left">Redes</td> -->
<!--     <td width="100" align="center" valign="center">No disponible</td> -->
<!--     <td width="100" align="center" valign="center">No disponible</td> -->
<!--     <td width="100" align="center" valign="center">No disponible</td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td align="left">CÃ¡lculo</td> -->
<!--     <td width="100" align="center" valign="center">No disponible</td> -->
<!--     <td width="100" align="center" valign="center">No disponible</td> -->
<!--     <td width="100" align="center" valign="center">No disponible</td> -->
<!--   </tr> -->
<!--   <tr> -->
<!--     <td align="left">ComuninaciÃ³n de datos</td> -->
<!--     <td width="100" align="center" valign="center">No disponible</td> -->
<!--     <td width="100" align="center" valign="center">No disponible</td> -->
<!--     <td width="100" align="center" valign="center">No disponible</td> -->
<!--   </tr> -->
</table>
<br/>
{% for group in candidate.user.groups.all %}
    {% ifequal group.name "Profesores" %}
<a href="/close/">Cerrar exámenes</a> (Los exámenes dejan de estar disponibles)
<br/>
<a href="/extend/">Alargar periodo de exámenes </a> (Los exámenes se pueden
  realizar hasta dentro de 7 días más)
<br/>
<a href="/open/">Abrir exámenes </a> (Los exámenes están a partir de hoy disponibles)
<br/>
<!-- <a href="/statistics/">Estadísticas</a> -->
    {% endifequal %}
{% endfor %}
{% endblock %}
