{% extends "candidateTool/base_main.html" %}

{% block js %}
<script type="text/javascript">

function exam(){
<!--     alert("HELLO"); -->
    window.location = "../exam_statistics/"
}

</script>
{% endblock %}

{% block first %}{% endblock %}
{% block rest %}

<form action="/show_statistics/" method="post" name="stats">
  <table border="0" cellpadding="4">
    <tr bgcolor="#161410">
      <th align="center" bgcolor="#161410" border-bottom="0px solid #161410">
	<span class="textbf">{% trans "Exámenes" %}</span>
      </th>
      <th align="right" bgcolor="#161410" border-bottom="0px">
	<span class="textbf">{% trans "Preguntas" %}</span>
      </th>
      <th align="center" bgcolor="#161410" border-bottom="0px">
      </th>
    </tr>
    <tr bgcolor="#161410">
      <td align="center" width="100%" valign="top" bgcolor="#161410">
	<select onchange="exam()" name=\"2\" size=\"4\">
	  {% for t in test %}
	  {% if forloop.counter|divisibleby:"2" %}
	  {{t}} <option>
	    {% else %}
	  <option id={{t}}>
	    {% endif %}
	    {% endfor %}
	</select>
      </td>
      <td align="right" width="100%" bgcolor="#161410">
	<select onchange="exam()" name=\"2\" size=\"10\">
	  {% for q in ques %}
	  {% if forloop.counter|divisibleby:"2" %}
	  {{q}} <option>
	    {% else %}
	  <option id={{q}}>
	    {% endif %}
	    {% endfor %}
	</select>
      </td>
      <td bgcolor="#161410">
      </td>
    </tr>
    <tr>
      <td bgcolor="#161410">
      </td>
      <td align="right" bgcolor="#161410">
	<input type="submit" value={% trans "Ver estadísticas" %}>
      </td>
      <td bgcolor="#161410">
      </td>
    </tr>
  </table>
</form>
<!-- <ul> -->
<!-- {% for s in subjects %} -->
<!--     <li><b>{{ s }}</b></li> -->
<!--     {% for t in s.test_set.all %} -->
<!--      <li>{{t.name}} ({{t.start_date}})</li> -->
<!--     {% endfor %} -->
<!-- {% endfor %} -->
<!-- </ul> -->
{% endblock %}
