<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>SGAE</title>
    <link rel="stylesheet" href="/static/css/alert.css"
    type="text/css" media="all" />
    <meta http-equiv="Refresh" content="2;url=/main/" />
  </head>

  <body>

    <div id="infoContainer" style="background: url('/static/examen.jpg') left 0 no-repeat -moz-Field; -moz-background-origin: content;">

      <div id="title">
        <h1>{% trans "¡Examen Recibido!" %}</h1>
      </div>

      <div id="longContent">

        <div id="shortDesc">
          <p>{% trans "El examen ha sido recibido con éxito." %}</p>
        </div>

	<a href ="/main/">{% trans "Volver" %}</a>

      </div>

    </div>

  </body>
</html>
