<form action="/i18n/setlang/" method="post">
<input name="next" type="hidden" value="/" />
<select name="language">
<option value="en">English</option>
<option value="es">Spanish</option>
<option value="it">Italian</option>
<!-- {% for lang in LANGUAGES %} -->
<!-- <option value="{{ lang.0 }}">{{ lang.1 }}</option> -->
<!-- {% endfor %} -->
</select>
<input type="submit" value="Go" />
</form>
