{% extends "candidateTool/base_main.html" %}
{% load i18n %}

{% block headerimg %} {% endblock %}

{% block content %}
<div style="text-align: center;" class="error">
  {% trans "¡¡¡Acceso denegado!!!" %}
</div>

<div id="errorimg" class="clearfix">
  <img alt="error" src="/static/error.gif"/>
</div>

{% endblock%}

{% block sidebar %} {% endblock %}
