{% extends "candidateTool/base.html" %}
{% load i18n %}

{% block style %}
<link rel="stylesheet" type="text/css"
      href="/static/css/login.css"/>
{% endblock %}

{% block main %}
<body style="background-color: #c1c0b6;
	     font-family: Tahoma, Arial, sans-serif;
	     font-size:12px;
	     color: #000";

      <span id="main">

	<span class="header">
	  <img src="/static/newheader.png"/>
	</span>

	<span id="line">
	  <span id="corner">
	    <img src="/static/tl_login.png"/>
	  </span>
	  <span id="topline">&nbsp;</span>
	  <span id="corner">
	    <img src="/static/tr_login.png"/>
	  </span>
	</span>

	<span id="centralbox">
	  <form style="padding:0;margin:0;" action="/enter/"
		method="post" name="login"
		onsubmit="if(validate(this)) return false;
			  sendRealForm(this); return false">

	    <span id="labeluser">
	      <label for="email">{% trans "Usuario:" %}</label>
	    </span>
	    <span id="entryuser">
	      <input onfocus="this.className='form-selected';"
		     onblur="this.className='form';" type="text"
		     name="username" id="username" class="form"/>
	    </span>
	    <span id="pass">
	      <label for="password">{% trans "Contraseña:" %}</label>
	    </span>
	    <span id="entrypass">
	      <input onfocus="this.className='form-selected';"
		     type="password"
		     onkeypress="capsDetect(arguments[0])"
		     name="password"
		     id="password"
		     class="form"/>
	    </span>
	    <span id="capsLocked"
		     style="display:none;padding-left:90px;float:left;width:160px;text-align:left;margin-top:5px;">
	      <div class="error" style="width:150px;">
		{% trans "Tienes activado Caps Lock." %}
	      </div>
	    </span>
	    <span id="errorContainer"
		  style="display:none;padding-left:90px;float:left;width:160px;text-align:left;margin-top:5px;">
	    </span>
	    <span id="button">
	      <input type="Submit" class="button" value="Entrar"/>
	    </span>
	    <span style="float:left;width:250px;height:10px;">&nbsp;</span>
	  </form>

	</span>

	<span style="float:left;width:264px;">
	  <span id="corner">
	    <img src="/static/bl_login.png"/>
	  </span>
	  <span style="float:left;width:250px;height:2px;border-bottom:5px
		       solid#363430;background-color:#d8d7d3;overflow:hidden;">
	    &nbsp;
	  </span>
	  <span id="corner">
	    <img src="/static/br_login.png"/>
	  </span>
	</span>
      </span>
      <span id="footer">
	<a href="http://javierperis.wordpress.com"
	   class="gray">SAD</a> | GNU GPL&copy;
      </span>
</body>

{% endblock %}
