{% extends "candidateTool/base_main.html" %}

{% block first %}
  	<div class="post top" id="post-127">
	  <h2 class="first">
	    <a href="http://javierperis.wordpress.com/ "
	       rel="bookmark" title="Enlace Permanente a Página
				     inicial"></a><a> Pagina Inicial</a>
	  </h2>

<!-- 	  <span class="postmetadata">&nbsp;Octubre 1, 2008 -->
<!-- 	    <a href="http://javierperis.wordpress.com/"></a> -->
<!-- 	  </span> -->
	  <div class="entry">
	    <div class='snap_preview'>
	      <p>Esta es la página inicial en la que podrás consultar
	      los exámenes venideros de las asignaturas en las que
		estás matriculado.</p>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block rest %}
	<!-- Next few posts -->

	<div class="post lastfive" id="post-120">
	  {% for subject in candidate.subject.all %}
	  {% for test in subject.test_set.all %}
	  <h2>
	    <a href="{{subject.uri}}"
	       rel="bookmark" title="Enlace Permanente a Examen de
				     {{test.subject.name}}">
	      Examen de {{test.subject.name}}</a>
	  </h2>

<!-- 	  <span class="postmetadata">&nbsp; {{test.start_date}} -->
<!-- 	    <a href="http://javierperis.wordpress.com/" -->
<!-- 	       title="Examen de"{{test.subject.name}}></a> -->
<!-- 	  </span> -->

	  <div class="entry">
	    <div class='snap_preview'>
	      <p>Se acaba de caer con todo el equipo. El próximo día
		{{test.start_date}} se realizará el examen de
		{{test.subject.name}}
		{% if test.timeLimit %}
		que durará {{test.timeLimit}} minutos
		{% endif %}
		{% if test.is_feasible %}
		<a href="/exam/{{test.id}}/">. ¡Realizar!</a>
		{% endif %}
	      </p>
	    </div>
	  </div>
	  {% endfor %}
	  {% endfor %}
	</div>
{% endblock %}
