{% extends "candidateTool/base_main.html" %}

{% block first %}{% endblock %}
{% block rest %}
<table border="1" cellpadding="3">
  <tr>
    <th align="center">
      <span class="textbf">Examen</span>
    </th>
    <th width="100" align="left" valign="center">
      <span class="textbf">Calificación</span>
    </th>
  </tr>
  <tr>
    <td width="100" align="center" valign="center">
      <font color="white">{{subject}}</font>
    </td>
    <td width="100" align="center" valign="center">
      <font color="white">{{mark}}</font>
    </td>
  </tr>
  {% for k, v in outcomes.items %}
  <tr>
    <td width="100" align="center" valign="center">Pregunta {{k}}</td>
    <td width="100" align="center" valign="center">{{v}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
