{% extends "candidateTool/base_main.html" %}
{% load i18n %}

{% block first %}
    {% for group in candidate.user.groups.all %}
        {% ifequal group.name "Alumnos" %}
            {% if main %}
                <div class="post-147 post hentry
			    category-concurso-software-libre" id="post-127">
		  <h2>
		    <a href="http://draper.mine.nu/"
		       rel="bookmark" title="Enlace Permanente a Página
					     inicial">
		    </a>
		    <a> {% trans "Página Inicial" %}</a>
		  </h2>
		  <div class="entry">
		    <div class='snap_preview'>
		      <p>{% trans "Esta es la página inicial en la que
		      podrás consultar los exámenes venideros de las asignaturas las que estás matriculado." %}</p>
		    </div>
		  </div>
		</div>
	    {% endif %}
	{% endifequal %}
	{% ifequal group.name "Profesores" %}
            {% if main %}
                <div class="post-147 post hentry
			    category-concurso-software-libre" id="post-127">
		  <h2>
		    <a href="http://draper.mine.nu/"
		       rel="bookmark" title="Enlace Permanente a Página
					     inicial">
		    </a>
		    <a> {% trans "Página Inicial" %}</a>
		  </h2>
		  <div class="entry">
		    <div class='snap_preview'>
		      <p>{% trans "Esta es la página inicial en la menú situado en la parte derecha que podrá:"%}</p>
		      <ul>
			<li>{% trans "Consultar los estadísticos correspondientes a los informes creados." %}</li>
                        <li>
			  {% trans "Evaluar las preguntas pendientes de calificación." %}</li>
			<li>
			  {% trans "Introducir los resultados de los exámenes realizados en papel." %}</li>
		    </div>
		  </div>
		</div>
	    {% endif %}
	{% endifequal %}
    {% endfor %}
{% endblock %}

{% block rest %}
    {% for group in candidate.user.groups.all %}
	{% ifequal group.name "Alumnos" %}

	    {% for subject, tests in tests.items %}
	        <div class="post-147 post hentry" id="post-120">
		  <h2>
		    {{subject}}
		    <a href="{{test.subject.uri}}"
		       rel="bookmark"
		       title={% blocktrans %}"Enlace permanente
					       a {{subject}}
					       (Ir a la
					       web)" {% endblocktrans %}
		    </a>
                  </h2>
		  <div class="entry">
		    <div class='snap_preview'>
		      <table border="1">
			<tr>
			  <th>
			    <span class="textbf">
			      {% trans "Disponible desde:" %}
			    </span>
			  </th>
			  <th>{% trans "hasta:" %}</th>
			  <th>{% trans "Comentario" %}</th>
			  <th>{% trans "Estado" %}</th>
			  <th colspan="3" align="center">
			    {% trans "Acciones" %}
			  </th>
			  <th>{% trans "Nota" %}</th>
			</tr>
			{% for te in tests %}
			    {% for t, done in te.items %}
			        <tr>
				  <td>{{ t.start_date|date:"D, j M H:i" }}</td>
				  <td>{{ t.end_date|date:"D, j M Y H:i" }}</td>
				  <td>{{t.descripcion}}</td>
				  {% if done.0 %}
				      <td>
					{% trans "Realizado" %}
				      </td>
				  {% else %}
				      {% if t.is_feasible %}
				          <td>
					    {% trans "Disponible" %}
					  </td>
				      {% else %}
					  {% if t.is_started %}
				          <td>
					    {% trans "Examen cerrado" %}
					  </td>
					  {% else %}
				          <td>
					    {% trans "Pendiente de abrir" %}
					  </td>
					  {% endif %}
				      {% endif %}
			          {% endif %}
				  {% if done.0 %}
				  <td>
				    {% trans "Realizar" %}
				  </td>
				  {% else %}
			              {% if t.is_feasible %}
				      <td>
					<a href="/exam/{{t.id}}/">
					  {% trans "¡Realizar!" %}
					</a>
				      </td>
				      {% else %}
				      <td>
					{% trans "Realizar" %}
				      </td>
				      {% endif %}
				  {% endif %}
				  {% if t.is_finished %}
				  <td align="center" valign="center">
				    <a href="/myexam/{{t.id}}/">
				      {% trans "Mi examen" %}
				    </a>
				  </td>
				  <td align="center" valign="center">
				    <a href="/solved/{{t.id}}/">
				      {% trans "Solución" %}
				    </a>
				  </td>
				  <td align="center"> {{done.1}} </td>
				  {% else %}
				  <td align="center" valign="center">
				    {% trans "Mi examen" %}
				  </td>
				  <td align="center" valign="center">
				    {% trans "Solución" %}
				  </td>
				  <td align="center">-</td>
				  {% endif %}
				</tr>
			    {% endfor %}
			{% endfor %}
		      </table>
		    </div>
		  </div>
		</div>
            {% endfor %}
	    {% if previous and next %}
             <p>
	        <a href="/main/{{pre}}/">{% trans "Anterior" %}</a>
		<a href="/main/{{pre}}/">{% trans "Siguiente" %}</a>
	    </p>
	    {% else %}
            <p>
	        {% if pre %}
	            <a href="/main/{{pre}}/"> << {% trans "Anterior" %} </a>
	        {% endif %}
	        {% if next %}
	            <a href="/main/{{next}}/"> {% trans "Siguiente" %} >></a>
	        {% endif %}
            </p>
	    {% endif %}
        {% endifequal %}
    {% endfor %}
{% endblock %}
