{% extends "candidateTool/base_main.html" %}

{% block first %}{% endblock %}
{% block rest %}

<center>
<h2>
<p><strong>No hay preguntas pendientes de ser corregidas.</strong></p>
</h2>
</center>

{% endblock %}
