{% extends "candidateTool/base.html" %}
{% load i18n %}

{% block meta %}
<meta http-equiv="Refresh" content="5;url=/main/"/>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="/static/css/alert.css"
      type="text/css" media="all" />
{% endblock %}
{% block main %}

<div id="infoContainer" style="background: url('/static/tits.jpg')
			       left 0 no-repeat -moz-Field;
			       -moz-background-origin: content;">

  <div id="title">
    <h1>{% trans "No hay informes sobre este examen"%}</h1>
  </div>

  <div id="longContent">
    <div id="shortDesc">
      <form name="counter">
	<p>
	  {% trans "Será redirigido a la página principal
          en"%} <input type="text" size="1"
		    name="d2" readonly="readonly"> {% trans "segundos." %}
	</p>
      </form>
    </div>
  </div>
</div>

<script>

 var milisec=0
 var seconds=6
 document.counter.d2.value='6'

function display(){
 if (milisec<=0){
    milisec=9
    seconds-=1
 }
 if (seconds<=-1){
    milisec=0
    seconds+=1
 }
 else
    milisec-=1
    document.counter.d2.value=seconds
    setTimeout("display()",100)
}
display()
</script>

{% endblock %}
