{% extends "candidateTool/base.html" %}
{% load i18n %}

{% block style %}
<link rel="stylesheet" href="/static/css/plantilla.css"
      type="text/css" media="screen" />
{{ block.super }}
<link rel="stylesheet" href="/static/css/style_modified.css"
      type="text/css" media="screen" />
{% endblock %}

{% block js %}

{{ block.super }}
<!-- Dependencies -->
<script type="text/javascript"
	src="/static/js/yui/yahoo-dom-event.js">
</script>

<!-- OPTIONAL: Animation (only required if using ContainerEffect) -->
<script type="text/javascript"
	src="/static/js/yui/animation-min.js">
</script>

<!-- Source file -->
<script type="text/javascript"
	src="/static/js/yui/container-min.js">
</script>

<script type="text/javascript"
	src="/static/js/yui/event-min.js">
</script>

<script type="text/javascript"
	src="/static/js/yui/yahoo-min.js">
</script>

<script type="text/javascript"
	src="/static/js/yui/dom-min.js">
</script>

<script type="text/javascript"
	src="/static/js/yui/connection-min.js">
</script>

<script type="text/javascript"
	src="/static/js/yui/yahoo-dom-event.js">
</script>

<script type="text/javascript"
	src="/static/js/update_qprp.js">
</script>

{% endblock %}

{% block  main%}
<div id="exams">
  <div id="menu">
    <table name="results" border="0" cellpadding="3">
      <tr>
	<th width="60%" align="left" border="0px"
	    valign="center" style="border-bottom-width: 0px;">
	  <span class="textbf">{% trans "Preguntas" %}</span>
	</th>
      </tr>
      <tr name="ult">
	<td align="left">
	  <select id="qprp" name="qprp" size="5">
	    <!--   {% for key,value in questions.items %} -->
	    <!--   <option value="{{key}}"><strong> {{ value }} </strong></option> -->
	    <!--   {% endfor %} -->
	    {% for value in test %}
	    <option value="{{value}}"><strong> {{ value }} </strong></option>
	    {% endfor %}
	  </select>
	</td>
      </tr>
    </table>
  </div>
  {% block question %}
  {% include "candidateTool/exams/question.html" %}
  {% endblock %}
{% endblock %}
