{% extends "candidateTool/questions.html" %}
{% block question %}
<div id="examPage"> <!-- style="visibility:hidden" -->
  <span id="examHeader">
    <span id="examHeaderLeft">
      <img src="/static/headleft.jpg" id="examHeaderLeft"/>
    </span>
    <span id="examHeaderRight">
      <label id="bold">Demo<br id="espaciado">Parte (Sección), 14 de enero de 2009 </br>
      </label>
    </span>
  </span>
  <span style="float:left;width:800px;padding-top:10px;">
    <form style="padding:0;margin:0;" action="./?" method="post" name="login">
      <span style="float:left;width:70px;margin:9px 10px 0 0;text-align:right">
	<label for="Apellidos">Apellidos:</label>
      </span>
      <span style="float:left;width:300px;margin-top:5px;text-align:left">
	<input type="text" name="surname" id="surname" style="width:300px"/>
      </span>
      <span style="float:left;width:70px;margin:9px 10px 0 0;text-align:right">
	<label for="Nombre">Nombre:</label>
      </span>
      <span style="float:left;width:220px;margin-top:5px;text-align:left">
	<input type="text" name="name" id="name" style="width:220px"/>
      </span>
      <span style="float:left;width:60px;margin:9px 10px 0 0;text-align:right">
	<label for="Nombre">Grupo:</label>
      </span>
      <span style="float:left;width:50px;margin-top:5px;text-align:left">
	<input type="text" name="group" id="group" style="width:50px"/>
      </span>
    </form>
  </span>
  <span id="questions">
    <form action="/report/" method="post">
      <table cellspacing="2px">
	<tr>
	  <td class="questionNumber" valign="top" align="right">
	    <p>5</p>
	  </td>
	  <td>
	    <p>
	      <font class="grade">(10.0p)</font>
	      <font class="questionText">Explica brevemente qué es, qué problema resuelve y cómo funciona el mecanismo de arranque lento de TCP</font>
	      <input hidden="hidden" type="hidden"
 		     name="nombre" value='../QuestionsBank/Arranque lento20091818543.xml'/>
	      <input hidden="hidden" type="hidden"
		     name="type" value="extendedText"/>
	    </p>
	  </td>
	</tr>
	<tr>
	  <td>
	    <input class="mark" type="text" size="1px" name="mark">
	  </td>
	  <td>
	    <textarea rows='10' cols='107'>
	    </textarea>
	    <p></p>
	  </td>
	</tr>
      </table>
    </form>
    <div id="footer">
      <input type="submit" value="Calificar"/>
    </div>
</div>
<div>
{% endblock %}
