{% extends "candidateTool/base_main.html" %}
{% load i18n %}

{% block first %}{% endblock %}
{% block rest %}

<table border="0">
  <caption>
    <strong>{% blocktrans %}Estadísticas de {{item}}{% endblocktrans %}</strong>
  </caption>
  <tbody>
    <tr>
      <td>
	<table border="1" cellpadding="3">
	  <tbody>
	    <tr witdh="100%" valign="center" align="center">
	      <td>
		<img src="/static/chart.png" alt="graf"/>
	      </td>
	    </tr>
	  </tbody>
	</table>
      </td>
    </tr>
  </tbody>
</table>

<!-- <table border="3px" cellpadding="1" align="center"> -->
<!--   <caption> <b> Estadísticas de {{item}} </b> </caption> -->
<!--   <tr witdh="90%" valign="center" align="center"> -->
<!--     <td> -->
<!--       <img src="/static/chart.png" alt="graf"/> -->
<!--     </td> -->
<!--   </tr> -->
<!-- </table> -->

<br/>

<table border="1" cellpadding="3">
  <tr>
    <th align="center"><span class="textbf">{% trans "Pregunta" %}</span>
    </th>
    <th width="100" align="left"
	valign="center"><span class="textbf">{% trans "Media" %}</span>
    </th>
    <th width="100" align="left"
	valign="center"><span class="textbf">{% trans "Percentil 5" %}</span>
    </th>
    <th width="100" align="left"
	valign="center"><span class="textbf">{% trans "Percentil 10" %}</span>
    </th>
    <th width="100" align="left"
	valign="center"><span class="textbf">{% trans "Percentil 50" %}</span>
    </th>
    <th width="100" align="left"
	valign="center"><span class="textbf">{% trans "Percentil 90" %}</span>
    </th>
    <th width="100" align="left"
	valign="center"><span class="textbf">{% trans "Percentil 95" %}</span>
    </th>
  </tr>
  <tr>
    <td width="100" align="center" valign="center">
      {{item}}
    </td>
    <td width="100" align="center" valign="center">
      {{avg}}
    </td>
    <td width="100" align="center" valign="center">
      {{ftl}}
    </td>
    <td width="100" align="center" valign="center">
      {{ftsl}}
    </td>
    <td width="100" align="center" valign="center">
      {{ftm}}
    </td>
    <td width="100" align="center" valign="center">
      {{fth}}
    </td>
    <td width="100" align="center" valign="center">
      {{fth}}
    </td>
  </tr>
</table>
{% endblock %}

<!-- {{ques.1}} -->
<!-- <select> -->
<!-- {% for q in ques %} -->
<!-- {% if value %} -->
<!--   <option id={{q.id}}> -->
<!-- {% else %} -->
<!-- q.name <option> -->
<!-- {% endif %} -->
<!-- {% endfor %} -->
<!-- </select> -->
