{% extends "candidateTool/base_main.html" %}
{% load i18n %}

{% block style %}
<link rel="stylesheet" href="/static/css/plantilla.css"
      type="text/css" media="screen" />
{{ block.super }}
<!-- <link rel="stylesheet" href="/static/css/style_modified.css" -->
<!--       type="text/css" media="screen"/> -->
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript"
	src="/static/js/update_select.js">
</script>
{% endblock %}

{% block first %}{% endblock %}
{% block rest %}
<form action="/show_statistics/" method="post" name="stats">
  <table width="100%" align="center" border="0" cellpadding="4">
    <tr>
      <th align="center" border-bottom="0px solid #161410">
	<span class="textbf">{% trans "Exámenes" %}</span>
      </th>
      <th align="right" border-bottom="0px">
	<p align="center">{% trans "Preguntas" %}</p>
      </th>
      <th align="right" border-bottom="0px">
      </th>
    </tr>
    <tr>
      <td widht="100%" align="center" valign="top">
	<select widht="100%" id="exams" size="4" name="ex">
	  {% for key,value in test.items %}
              <option value="{{key}}"><strong> {{ value }} </strong></option>
	  {% endfor %}

<!-- 	  {% for t in test %} -->
<!-- 	  {% if forloop.counter|divisibleby:"2" %} -->
<!-- 	  {{t}} <option> -->
<!-- 	    {% else %} -->
<!-- 	  <option value="{{t}}"> -->
<!-- 	    {% endif %} -->
<!-- 	    {% endfor %} -->
	</select>
      </td>
      <td id="ques" align="center">
	<select widht="100%" id="questionslist" size="10" name="ques">
	  <option value="0">{% trans "Todas" %}</option>
	  {% for key,value in ques.items %}
	  <option value="{{key}}"> <strong>{{ value }} </strong></option>
	  {% endfor %}

<!-- 	  {% for q in ques %} -->
<!-- 	  {% if forloop.counter|divisibleby:"2" %} -->
<!-- 	  {{q}} <option> -->
<!-- 	    {% else %} -->
<!-- 	  <option value={{q}} name="item"> -->
<!-- 	    {% endif %} -->
<!-- 	    {% endfor %} -->
	</select>
      </td>
      <td>
      </td>
    </tr>
<!--     <tr> -->
<!--       <td bgcolor="#161410"> -->
<!--       </td> -->
<!--       <td align="right" bgcolor="#161410"> -->
<!-- 	<input type="submit" value="Ver estadÃ­sticas"> -->
<!--       </td> -->
<!--     </tr> -->
  </table>
  <br/>
  <div class="submit-row" >
    <input type="submit" value={% trans "Ver estadísticas" %}
	   class="default"/>
  </div>
</form>

{% endblock %}

