
    <td widht="100%" align="center" valign="center" bgcolor="#161410">
      Pregunta 1
    </td>
    <td id="ques" align="right" bgcolor="#161410">
      <input type="text" name='question 1'/>
    </td>
  </tr>
<tr bgcolor='#161410'>
    <td widht="100%" align="center" valign="center" bgcolor="#161410">
      Pregunta 2
    </td>
    <td id="ques" align="right" bgcolor="#161410">
      <input type="text" name='question 2'/>
    </td>
  </tr>
<tr bgcolor='#161410'>
    <td widht="100%" align="center" valign="center" bgcolor="#161410">
      Pregunta 3
    </td>
    <td id="ques" align="right" bgcolor="#161410">
      <input type="text" name='question 3'/>
    </td>
  </tr>
<tr bgcolor='#161410'>
    <td widht="100%" align="center" valign="center" bgcolor="#161410">
      Pregunta 4
    </td>
    <td id="ques" align="right" bgcolor="#161410">
      <input type="text" name='question 4'/>
    </td>
  </tr>
<tr bgcolor='#161410'>
    <td widht="100%" align="center" valign="center" bgcolor="#161410">
      Pregunta 5
    </td>
    <td id="ques" align="right" bgcolor="#161410">
      <input type="text" name='question 5'/>
    </td>
  </tr>
<tr bgcolor='#161410'>
<tr bgcolor="#161410">
<td>
</td>
<td>
</td>
    <td widht="100%" align="center" valign="center" bgcolor="#161410">
      Pregunta 6
    </td>
    <td id="ques" align="right" bgcolor="#161410">
      <input type="text" name='question 6'/>
    </td>
  </tr>

<tr bgcolor="#161410">
<td>
</td>
<td>
</td>
    <td widht="100%" align="center" valign="center" bgcolor="#161410">
      Pregunta 7
    </td>
    <td id="ques" align="right" bgcolor="#161410">
      <input type="text" name='question 7'/>
    </td>
  </tr>

    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td align="right">
        <input type="submit" value="Calificar"/>
      </td>
    </tr>